<% content_for :title, "Data Configuration '" + @dataConfig.name + "'" %>
<table id="dataConfig" class="display">
  <thead>
	<tr>
	<th>Information</th>
	<th>Value</th>
	</tr>
  </thead>
  <tbody>
  <tr>
    <td>Absolute Path</td><td><%= @dataConfig.abs_path.split('/')[-1] %></td>
  </tr>
  <tr>
    <td>Dataset Configuration</td><td><%= link_to @datasetConfig.abs_path.split('/')[-1], @datasetConfig %></td>
  </tr>
  <% if @goldstandardConfig != nil %>
  <tr>
    <td>Goldstandard Configuration</td><td><%= link_to @goldstandardConfig.abs_path.split('/')[-1], @goldstandardConfig %></td>
  </tr>
  <% end %>
  <tr>
    <td>File content</td><td>
<pre>
<%= @contents %>
</pre></td>
  </tr>
  </tbody>
</table>

<table id="dataConfig2" class="display">
  <thead>
  <tr>
    <th>Program Config</th>
    <th>Parameter set</th>
    <th>Clustering Quality Measure</th>
    <th>Quality</th>
    <th>Clustering</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
      <tfoot>
      <tr>
        <th>Program Config</th>
        <th>Parameter set</th>
        <th>Clustering Quality Measure</th>
        <th>Quality</th>
        <th>Clustering</th>
      </tr>
      </tfoot>
</table>
<script type="text/javascript">
$(document).ready(function() {
  $('body').addClass('loading'); 
  $('#dataConfig2').dataTable({
      sPaginationType: "full_numbers",
      sDom: 'WT<"clear"><"H"Rlr>t<"F"ip>',
        oTableTools: {
          sSwfPath: "/assets/dataTables/copy_csv_xls.swf",
          aButtons: ['copy', 'csv']
        },
      bJQueryUI: true,
      bRetrieve: true,
      bDestroy: true,
      aaSorting: [[ 3, "desc" ]],
      bProcessing: true,
      bDeferRender: true,
      bServerSide: true,
      sAjaxSource: '/<%= params[:repository] %>/data_configs/fetch_table_data/<%= params[:id] %>',
      fnInitComplete: function(oSettings) {
        $('body').removeClass('loading'); 
      }
    }).columnFilter(
        {aoColumns: [
          { type: "text" },
          { type: "text" },
          { type: "text" },
          { type: "number-range" },
          null
        ]
      });
});
</script>