<div class="clustering_method_description">
	<h3><%= method.name %><% if detailsLink %> (<%=link_to 'Details', method %>)<% end %></h3>
	<p>
		<% if method.imageUrl %><%= image_tag method.imageUrl, :style => 'float:right;height:156px;', :class => 'thumbnail' %><% end %>
		<%= method.description %>
		<ul>
			<% if method.publication %>
			<li>Publication: <%= raw method.publication %></li>
			<% if method.publicationUrl and not method.publicationUrl.empty? %><li><%= link_to 'Link to publication', method.publicationUrl %></li><% end %>
			<% end %>
		</ul>
	</p>
</div>
