<table id="programParameter" class="display">
  <thead>
	<tr>
	<th>Information</th>
	<th>Value</th>
	</tr>
  </thead>
  <tbody>
  <tr>
    <td>Program configuration</td><td><%= link_to @programConfig.absPath.split('/')[-1], @programConfig %></td>
  </tr>
  <tr>
    <td>Name</td><td><%= @programParameter.name %></td>
  </tr>
  <tr>
    <td>Description</td><td><%= @programParameter.description %></td>
  </tr>
  <tr>
    <td>Type</td><td><%= @programParameter.program_parameter_type.name %></td>
  </tr>
  <tr>
    <td>minimal value</td><td><%= @programParameter.minValue %></td>
  </tr>
  <tr>
    <td>maximal value</td><td><%= @programParameter.maxValue %></td>
  </tr>
  <tr>
    <td>default value</td><td><%= @programParameter.def %></td>
  </tr>
  </tbody>
</table>