<div class="clustering_method_description">
	<h3><%= dataset.name %><% if detailsLink %> (<%= link_to 'Details', dataset %>)<% end %></h3>
	<p>
		<% if dataset.imageUrl %><%= image_tag dataset.imageUrl, :style => 'float:right;height:156px;', :class => 'thumbnail' %><% end %>
		<%= dataset.description %>
		<% if dataset.publication %>
		<br><br>
		Publication: <%= raw dataset.publication %> <% if dataset.publicationUrl %>(<%= link_to 'Link', dataset.publicationUrl %>)<% end %>
		<% end %>
	</p>
</div>