<!DOCTYPE html>
<html>
<head>
  <title>ClustEval | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "stylesheet", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'raphael' %>
  <%= javascript_include_tag 'ColReorderWithResize' %>
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    jax: ["input/TeX","output/HTML-CSS"],
    extensions: ["tex2jax.js"]
  });
</script>
  <%= mathjax_tag %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
        $("body").on({
          ajaxStart: function() { 
              $(this).addClass("loading"); 
          },
          ajaxStop: function() { 
              $(this).removeClass("loading"); 
          } 
      });
  </script>
  <script type="text/javascript">
  $(function() {
    $( document ).tooltip({
      items: "[tooltip_info]",
      position: {
        at: "right center"
      },
      show: {
        duration: 0
      },
      hide: {
        duration: 0
      },
      content: function(callback) {
        var element = $( this );
        if ( element.is( "[tooltip_info]" ) ) {
          var address = element.attr("tooltip_info");
          $.get(address, null, function(data) {
              callback(data); //**call the callback function to return the value**
          });
        }
      }
    });
  });
  </script>
  <style>
    .resizable {
      width: 500px;
      height: 500px;
    }
    .ui-resizable-helper { 
      border: 2px dotted #00F; 
    }
  </style>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-inner">
    <div class='title'>
      <h1><div id="first">ClustEval</div> <div id="second">Integrative Clustering Evaluation Framework</div></h1>
    </div>
    <div class='breadcrumb'>
      <%= render_navigation(:renderer => SimpleNavigation::Renderer::Breadcrumbs, :static_leaf => false, :join_with => ' » ', :prefix => ' Location: ', :context => :admin) %>
    </div>
      <%= render_navigation(:level => 1, :static_leaf => true, :context => "admin") %>
  </div>
</div>
<br><br>
<div style="height:100px;">&nbsp;</div>
    <table class="designTable">
      <tr valign="top">
        <td class='content_table_left'>
  <!-- <div class="row"> -->
      <!-- <div class="span2"> -->
          <!-- <div class='left_navigation'> -->
        <div data-spy="affix" style="width: 200px;">

            <%= cell(:navigation).(:show, 'display_' + params[:controller] + '_' + params[:action]) %>

            <div class='left_navigation_title'>
              <%= image_tag '/assets/027.png', :style => 'padding-right: 5px;' %>Hints:
            </div>
            <p><small>
              <%= cell(:info_text).(:show, 'display_' + params[:controller] + '_' + params[:action]) %>
            </small></p>
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
        </td>
<td class='content_table_right'>
    <!-- <div class="span12"> -->
      <div class='clustEvalContentInner'>
        <h2><%= yield(:title) %></h2>
        <div style="padding-left:10px; padding-right:10px;">
          <%= yield %>
        </div>
      </div>
    <!-- </div> -->
        </td>
      </tr>
    </table>
  </div>
  <div class="mymodal"><!-- Place at bottom of page --></div>
  <p></p>
</body>
</html>

