<!DOCTYPE html>
<html>
<head>
  <title>clusteval | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "stylesheet", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'raphael' %>
  <%= javascript_include_tag 'ColReorderWithResize' %>
  <%= mathjax_tag %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
        $("body").on({
          ajaxStart: function() { 
              $(this).addClass("loading"); 
          },
          ajaxStop: function() { 
              $(this).removeClass("loading"); 
          } 
      });
  </script>
  <style>
    .resizable {
      width: 500px;
      height: 500px;
    }
    .ui-resizable-helper { 
      border: 2px dotted #00F; 
    }
  </style>
</head>
<body>
<p style="height:100px;"></p>
<div class="container">
<div class="navbar navbar-fixed-top">
    <div class='title'>
      <h1><div id="first">clusteval</div> <div id="second">Integrative Clustering Evaluation Framework</div></h1>
    </div>
  <div class="navbar-inner">
    <!-- <div class='example_content' id='example_3'> -->
      <!-- <div id='top_navigation'> -->
        <!-- <table id="menu_table" class="designTable"> -->
          <!-- <tr> -->
            <!-- <td style="vertical-align: bottom;"> -->
              <%= render_navigation(:level => 1, :static_leaf => true) %>
            <!-- </td> -->
          <!-- </tr> -->
        <!-- </table> -->
      <!-- </div> -->
    <!-- </div> -->
  </div>
</div>
</div>
  <div class='clustEvalContent'>
    <table class="designTable">
      <tr valign="top">
        <td class='content_table_left'>
          <div class='left_navigation'>
            <div class="affix" style="width:190px;">
              <%= render_cell :navigation, :display %>

              <div class='left_navigation_title'>
                <%= image_tag '/assets/027.png', :style => 'padding-right: 5px;' %>Hints:
              </div>
              <p><small>
                <%= render_cell :info_text, :display %>
              </small></p>
            </div>
          </div>
        </td>
        <td class='content_table_right'>
    <div class='breadcrumb'><%= render_navigation(:renderer => SimpleNavigation::Renderer::Breadcrumbs, :static_leaf => true, :join_with => ' » ', :prefix => ' You are here: ') %></div>
        <div class='clustEvalContentInner'>
        <h2><%= yield(:title) %></h2>
        <div style="padding-left:10px; padding-right:10px;">
          <%= yield %>
        </div>
        </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="mymodal"><!-- Place at bottom of page --></div>
  <p></p>
</body>
</html>
