<!DOCTYPE html>
<html>
<head>
  <title>ClustEval | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "stylesheet", :media => "all" %>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cabin" />
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'raphael' %>
  <%= javascript_include_tag 'ColReorderWithResize' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    jax: ["input/TeX","output/HTML-CSS"],
    extensions: ["tex2jax.js"]
  });
</script>
  <%= mathjax_tag %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
        $("body").on({
          ajaxStart: function() { 
              $(this).addClass("loading"); 
          },
          ajaxStop: function() { 
              $(this).removeClass("loading"); 
          } 
      });
  </script>
  <script type="text/javascript">
  $(function() {
    $( body ).tooltip({
      items: "[tooltip_info]",
      position: {
        at: "right center"
      },
      show: {
        duration: 0
      },
      hide: {
        duration: 0
      },
      content: function(callback) {
        var element = $( this );
        if ( element.is( "[tooltip_info]" ) ) {
          var address = element.attr("tooltip_info");
          $.get(address, null, function(data) {
              callback(data); //**call the callback function to return the value**
          });
        }
      }
    });
  });
  </script>
  <style>
    .resizable {
      width: 500px;
      height: 500px;
    }
    .ui-resizable-helper { 
      border: 2px dotted #00F; 
    }
  </style>
</head>
<body>
<div id="holder">
   <div class='page_title'>
        <%#<h1><div id="first">ClustEval</div> <div id="second">Integrative Clustering Evaluation Framework</div></h1>%>
        <div style="padding: 0px; height: 100px; font-size: 70px; font-family: Cabin; font-weight: bold;">
          <%= image_tag "clusteval_logo.png", :style => "height:80px;right-padding:20px;" %>
          <span style="height: 100px; color: #43506d;">Clust</span><span style="color: #838ca0;">Eval</span> 
          <span style="font-size: 50px;">clustering evaluation framework</span>
        </div>

      </div>
   <div class="navbar navbar-default ">
    <div class="navbar-inner">
        <%= render_navigation(:level => 1, :static_leaf => true, :context => "admin") %>
    <div class='breadcrumb'>
        <%= render_navigation(:renderer => SimpleNavigation::Renderer::Breadcrumbs, :static_leaf => false, :join_with => ' » ', :prefix => ' Location: ', :context => :admin) %>
      </div>
    </div>
  </div>
  <div id="body">
<div class="container-fluid">
  <div class="row">
    <div data-spy="affix" class="col-md-2">

        <%= cell(:navigation).(:show, 'display_' + params[:controller] + '_' + params[:action]) %>

        <div class='left_navigation_title'>
          <%= image_tag '027.png', :style => 'padding-right: 5px;' %>Hints:
        </div>
        <p><small>
          <%= cell(:info_text).(:show, 'display_' + params[:controller] + '_' + params[:action]) %>
        </small></p>
  </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-10">
        <h2><%= yield(:title) %></h2>
          <%= yield %>
    
    </div>
  </div>
  </div>
  </div>


    <div id="footer">
      <p style="margin-top: 20px;">Website Version: <%= Rails.application.config.clusteval_website_version %> - Git Revision: <%= ClustEval::GIT_REVISION %> (<%= ClustEval::GIT_DATE %>)</p>
    </div>
  </div>
  <div class="mymodal"><!-- Place at bottom of page --></div>
  <p></p>
</body>
</html>

