<table id="dataStatistics" class="display">
  <thead>
  <tr>
    <th>Program</th>
    <th>Best quality</th>
    <th>Parameter set</th>
    <th>Clustering</th>
  </tr>
 </thead>
 <tbody>
  <% iterationsExts.each do |iterationExt| %>
  <tr>
    <td><%= iterationExt.program.alias %></td>
    <td>
      <%= iterationExt.quality.nan? ? "NaN" : (iterationExt.quality*1000).round/1000.0 %>
    </td>
    <td><%= raw iterationExt.param_set_as_string.gsub(",","<br />") %></td>
    <td><%= link_to 'Clustering', iterationExt.run_results_parameter_optimizations_parameter_set_iteration %></td>
  </tr>
  <% end %>
</tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
  $('#dataStatistics').dataTable({
      sPaginationType: "full_numbers",
      oSearch: {"sSearch": "<%= program_filter %>"},
      sDom: '<"H"Rlfr>t<"F"ip>',
      bJQueryUI: true,
      bRetrieve: true,
      bDestroy: true,
      bSort: true,
      bAutoWidth: false,
      bPaginate: false,
      aaSorting: [[ 1, "desc" ]]
    });
});
</script>
