<div class="resizable" style="height:400px; width:100%;">
  <div id="comparison_chart">
  </div>
</div>
<br>
<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
    
            chart: {
                renderTo: 'comparison_chart',
                type: 'column',
                marginBottom: 200
            },
	    plotOptions: {
	    column: {
                borderWidth: 0,
                groupPadding: 0.1,
                pointPadding: 0.05
	    }},
            title: {
                text: 'Clustering qualities'
            },
    
            xAxis: {
		categories: [<% ClusteringQualityMeasure.all(params[:repository]).sort_by{|x| x.alias}.each do |measure| %><% if @visibleMeasures[measure] %>'<%= measure.alias %>',<% end %><% end %>],
                labels: {
                  enabled: true,
                  rotation: -45,
                  align: 'right'
                }
            },
            yAxis: {
                title: {
                    text: 'Clustering Quality'
                },
                min: <%= @minY %>,
                max: <%= @maxY %>,
            },
    
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.x +'</b><br/>'+
                        this.series.name +': '+ this.y;
                }
            },
            series: [
            <% @sortedPrograms.each do |program| %>
            <% if @visiblePrograms[program] %>
            {
              name: '<%= program.alias %>',
              data: [<% @sortedMeasures.each do |measure| %>
              <% if @visibleMeasures[measure] %>
                <% @qual = @matrix[@programIds[program]][@measureIds[measure]] %>
                <% if @qual != "--" %>
                  <%= @qual %>
                <% else %>
                  null
                <% end %>,<% end %><% end %>]
            },
            <% end %>
            <% end %>
            ]
        });

      $( ".resizable" ).resizable({
        helper: "ui-resizable-helper",
        stop: function( event, ui ) {
          chart.setSize(ui.size.width,ui.size.height,doAnimation = true);
        }
      });
    });
});
</script>

<table id="dataAndProgramStatistics" class="display">
  <thead>
  <tr>
    <th>Program</th>
    <% @sortedMeasures.each do |measure| %>
	    <th>
		<%= measure.alias %>
	    </th>
    <% end %>
  </tr>
 </thead>
 <tbody>
  <% i = 0 %>
  <% @sortedPrograms.each do |program| %>
  <tr>
    <% j = 0 %>
    <td><%= link_to matrix[i][j].name, matrix[i][j] %></td>
    <% j = 1 %>
    <% @sortedMeasures.each do |measure| %>
        <td>
        <% if matrix[i][j].to_s == "--" %>
          <%= matrix[i][j].to_s %>
        <% else %>
          <a href="/<%= params[:repository] %>/datasets/<%= dataset.id %>/bestclust/<%= program.alias %>?post[clustering_quality_measure_id2]=<%= measure.id %>"><%= matrix[i][j].to_s %></a>
        <% end %>
        </td>
	<% j = j + 1 %>
    <% end %>
  </tr>
  <% i = i + 1 %>
  <% end %>
</tbody>
</table>
