<div class="resizable" style="height:400px; width:100%;">
  <div id="comparison_chart"></div>
</div>
<br>
<table id="dataAndProgramStatistics" class="display">
  <thead>
  <tr>
    <th>Data Set</th>
    <% for i in 0..@programs.length-1 %>
      <% program = @programs[i] %>
      <th>
        <%= program.name %>
      </th>
    <% end %>
  </tr>
 </thead>
 <tbody>
 </tbody>
</table>

<script type="text/javascript">
$(function () {
    var chart;

        $('#dataAndProgramStatistics').dataTable({
          sPaginationType: "full_numbers",
          bDeferRender: true,
          bJQueryUI: true,
          bRetrieve: true,
          bPaginate: false,
          bInfo: false,
          bFilter: false,
          bAutoWidth: false,
          oTableTools: {
            sSwfPath: "/assets/dataTables/copy_csv_xls.swf",
            aButtons: ['copy', 'csv']
          },
          sAjaxSource: '/mains/comparison_table_data/<%= @qualityMeasure.id %>'
        });

        chart = new Highcharts.Chart({
    
            chart: {
                renderTo: 'comparison_chart',
                type: 'column'
            },
    
            title: {
                text: 'Clustering qualities'
            },
    
            xAxis: {
                categories: [<% Dataset.all(session).sort_by{|x| x.alias}.each do |dataset| %><% if @visibleDatasets[dataset] %>'<%= dataset.alias %>',<% end %><% end %>],
                labels: {
                  enabled: true,
                  rotation: -45,
                  align: 'right'
                }
            },
            yAxis: {
                title: {
                    text: '<%= @qualityMeasure.alias %>'
                }
                <% if @qualityMeasure.minValue %>
                ,min: <%= @qualityMeasure.minValue %>
                <% end %>
                <% if @qualityMeasure.maxValue %>
                ,max: <%= @qualityMeasure.maxValue %>
                <% end %>
            },
    
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.x +'</b><br/>'+
                        this.series.name +': '+ this.y;
                }
            },
            plotOptions: {
              column: {
                borderWidth: 1,
                borderColor: '#000000',
                pointPadding: 0,
                shadow: false
              },
              series: {
              }
            },
            series: [
            <% Program.all(session).sort_by{|x| x.alias}.each do |program| %>
              {
                name: '<%= program.alias %>',
                data: [<% Dataset.all(session).sort_by{|x| x.alias}.each do |dataset| %><% if @visibleDatasets[dataset] %><% @qual = @matrix[@datasetIds[dataset]][@programIds[program]] %><% if @qual != "--" %><%= @qual %>
                <%# elsif @isMaximum %><%#= @qualityMeasure.minValue %><%# else %><%#= @qualityMeasure.maxValue %>
                <% else %>null<% end %>,<% end %><% end %>]
            },
            <% end %>
            ]
        });

      $( ".resizable" ).resizable({
        helper: "ui-resizable-helper",
        stop: function( event, ui ) {
          chart.setSize(ui.size.width,ui.size.height,doAnimation = true);
        },
        create: function( event, ui ) {
          chart.setSize(ui.size.width,ui.size.height,doAnimation = true);
        }
    });
});
</script>