<div class="resizable" style="height:400px; width:100%;">
  <div id="comparison_chart"></div>
</div>
<br>
<table id="dataAndProgramStatistics" class="display">
  <thead>
  <tr>
    <th>Data Set</th>
    <th>Data Type</th>
    <% for i in 0..@programs.length-1 %>
      <% program = @programs[i] %>
      <th>
        <%= program.name %>
      </th>
    <% end %>
    <th>Average</th>
    <th>Median</th>
  </tr>
 </thead>
 <tbody>
  <% for i in 0..@datasets.length-1 %>
  <tr>
    <% for j in 0..@programs.length %>
      <% if j == 0 %>
        <td><%= link_to @matrix[i][j].alias, @matrix[i][j] %></td>
        <td><%= @matrix[i][j].dataset_type.alias %></td>
      <% else %>
       <% @string = "" %>
          <% if @matrix[i][j].to_s == "--" %>
            <% @string = "--" %>
          <% else %>
            <% @string = '<a href="/' + params[:repository] + '/datasets/' + @datasets[i].id.to_s + '/bestclust/' + @programs[j-1].alias + '?post[clustering_quality_measure_id2]=' + @qualityMeasure.id.to_s + '">' %>

            <% @string = @string + matrix[i][j].to_s + '</a>' %>
          <% end %>
        <td>
          <%= raw @string %>
        </td>
      <% end %>
    <% end %>
    <td><%= @datasetAvg[i] %></td>
    <td><%= @datasetMedian[i] %></td>
  </tr>
  <% end %>
</tbody>
</table>

<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
    
            chart: {
                renderTo: 'comparison_chart',
                type: 'column'
            },
    
            title: {
                text: 'Clustering qualities'
            },
    
            xAxis: {
                categories: [<% @datasets.each do |dataset| %><% if @visibleDatasets[dataset] %>'<%= dataset.alias %>',<% end %><% end %>],
                labels: {
                  enabled: true,
                  rotation: -45,
                  align: 'right'
                }
            },
            yAxis: {
                title: {
                    text: <% if @showRanks %>'Rank'<% else %>'<%= @qualityMeasure.alias %>'<% end %>
                }
                <% if !@showRanks %>
                  <% if @qualityMeasure.minValue %>
                  ,min: <%= @qualityMeasure.minValue %>
                  <% end %>
                  <% if @qualityMeasure.maxValue %>
                  ,max: <%= @qualityMeasure.maxValue %>
                  <% end %>
                <% end %>
            },
    
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.x +'</b><br/>'+
                        this.series.name +': '+ this.y;
                }
            },
            series: [
            <% @programs.sort_by{|x| x.alias}.each do |program| %>
              {
                name: '<%= program.alias %>',
                data: [<% @datasets.sort_by{|x| x.alias}.each do |dataset| %><% if @visibleDatasets[dataset] %><% @qual = @matrix[@datasetIds[dataset]][@programIds[program]] %><% if @qual != "--" %><%= @qual %>
                <%# elsif @isMaximum %><%#= @qualityMeasure.minValue %><%# else %><%#= @qualityMeasure.maxValue %>
                <% else %>null<% end %>,<% end %><% end %>]
            },
            <% end %>
            ]
        });

      $( ".resizable" ).resizable({
        helper: "ui-resizable-helper",
        stop: function( event, ui ) {
          chart.setSize(ui.size.width,ui.size.height,doAnimation = true);
        },
        create: function( event, ui ) {
          chart.setSize(ui.size.width,ui.size.height,doAnimation = true);
        }
      });
    });
});
</script>