<h2>Download & Installation</h2>
clusteval is separated into backend and frontend. The backend calculates all the clusterings and performs all the actual analyses of the framework. The frontend includes this website and a corresponding database and is responsible for the representation of the results.

<h3>Backend Executables (Client & Server)</h3>
The backend consists of a client and a server component. Both can be downloaded separately as a jar-executable.
<table class="downloadTable">
	<thead>
		<th>Link</th>
		<th>Version</th>
		<th>Release Date</th>
	</thead>
	<tr>
		<td><%= link_to "clustevalBackendServer.jar", "http://clusteval.mmci.uni-saarland.de/clustevalBackendServer.jar" %></td>
		<td>1.0</td>
		<td>13.05.2013</td>
	</tr>
	<tr>
		<td><%= link_to "clustevalBackendClient.jar", "http://clusteval.mmci.uni-saarland.de/clustevalBackendClient.jar" %></td>
		<td>1.0</td>
		<td>13.05.2013</td>
	</tr>
</table>

<h3>Frontend (Website & MySQL DB Structure)</h3>
For a detailed step-by-step installation guide for the frontend, please check out the installation section of the clusteval <%= link_to "technical documentation", HelpTechnicalDocumentation %>.
You can download a zip containing all parts of the frontend (website together with a mysql dump) here:
<table class="downloadTable">
	<thead>
		<th>Link</th>
		<th>Version</th>
		<th>Release Date</th>
	</thead>
	<tr>
		<td><%= link_to "clustevalFrontend.zip", "http://clusteval.mmci.uni-saarland.de/clustevalFrontend.zip" %></td>
		<td>1.0</td>
		<td>13.05.2013</td>
	</tr>
</table>

<h3>VirtualBox Image</h3>
We provide a VirtualBox Image containing clusteval backend and frontend installations. The backend can be started via a shell script and the frontend is accessible on the localhost ip address. More details can be found in the technical documentation.
<table class="downloadTable">
	<thead>
		<th>Link</th>
		<th>Version</th>
		<th>Release Date</th>
	</thead>
	<tr>
		<td><%= link_to "clustevalVirtualBox.zip", "http://clusteval.mmci.uni-saarland.de/clustevalVirtualBox.zip" %></td>
		<td>1.0</td>
		<td>13.05.2013</td>
	</tr>
</table>