<% content_for :title, " Integrative Clustering Evaluation Framework | Welcome!" %>
  <p>clusteval is a free and extendable opensource platform for objective performance comparison of arbitrary Clustering Methods on different datasets. It is designed to support the standard processes related to Cluster Analyses.</p>
  <p>You can find a list of all available clustering methods under <%= link_to "Clustering Methods", Program %> in the menu. There are <%= Program.all(params[:repository]).count %> different clustering methods available. Similarly, the available datasets can be found under <%= link_to "Datasets", Dataset %>. There are <%= Dataset.all(params[:repository]).count %> datasets available.</p>
<% @repositories = Repository.where(:repository_type_id => RepositoryType.find_by_name('Repository').id) %>
<% if @repositories.length > 1 %>
  <h2>Repository</h2>
  This website shows all information from one central repository. You can select a different repository here:
  <%= form_tag({:action => 'index'}, {:method => 'get'}) do %>
  <%= collection_select(:repo_select, :repository_id, @repositories, :id, :base_path, {:selected => params[:repository]}, :onchange => "$('body').addClass('loading'); this.form.submit();", :class => 'span3') %>
  <% end %>
<% end %>
<h2>Citation</h2>
Wiwie, C., Röttger, R. & Baumbach, J. <i>Comparing the performance of biomedical clustering methods.</i> <b>Nature Methods</b> (2015).

<a id="workflow" style="text-decoration:none;"><h2>Workflow</h2></a>
The use-case below presents to you where you can find which functionality on the clusteval website. 
<h2>Download & Installation</h2>
You are interested in downloading and installing clusteval on your own server? Please refer to the help section <a href="http://doc.clusteval.compbio.sdu.dk/clusteval/download.html">over here</a>.
<% if @current_user %>
<h2>Statistics</h2>
<table id="statistics" class="display">
  <thead>
  <tr>
    <th>Information</th>
    <th>Value</th>
  </tr>
 </thead>
 <tbody>
  <tr>
    <td>Number of Runs</td><td><%= Run.all(params[:repository]).count %></td>
  </tr>
  <tr>
    <td>Number of Datasets</td><td><%= Dataset.all(params[:repository]).count %></td>
  </tr>
  <tr>
    <td>Number of Goldstandards</td><td><%= Goldstandard.all(params[:repository]).count %></td>
  </tr>
  <tr>
    <td>Number of Programs</td><td><%= Program.all(params[:repository]).count %></td>
  </tr>
  <tr>
    <td>Number of Run Results</td><td><%= RunResult.all(params[:repository]).count %></td>
  </tr>
</tbody>
</table>
<% end %>
<object data="/<%= params[:repository] %>/mains/workflow.svg" type="image/svg+xml"></object>
