<% content_for :title, "Data Set '" + @dataset.alias + "' - General" %>
<%= cell :dataset_description, :display, :dataset => @dataset, :detailsLink => false %><br>
<table id="dataset" class="display">
  <thead>
	<tr>
	<th>Information</th>
	<th>Value</th>
	</tr>
  </thead>
  <tbody>
  <tr>
    <td>Alias</td><td><%= @dataset.alias %></td>
  </tr>
  <tr>
    <td>Name</td><td><%= @dataset.abs_path.split('/')[-2] + "/" + @dataset.abs_path.split('/')[-1] %></td>
  </tr>
  <% if @description %>
  <tr><td>Description:</td><td><%= raw @description.dataset_description %></td></tr>
<% end %>

<% if @publication %>
  <tr><td>Publication:</td><td><%= raw @publication.dataset_publication %></td></tr>
<% end %>
  <tr>
    <td>Dataset format</td><td><%= @dataset.dataset_format.name %></td>
  </tr>
  <tr>
    <td>Download</td><td><%= link_to 'Click', :action => 'download', :id => @dataset %> (by downloading the dataset you accept the license presented below)</td>
  </tr>
  <% if true %>
  <tr>
    <td>License</td>
    <td>
      <textarea readonly="readonly" rows="7">
      <%= @license %>
      </textarea>
    </td>
  </tr>
  <% end %>
  <tr>
    <td>First <%= @contents.count("\n") %> lines</td><td>
<textarea readonly="readonly" rows="7">
<%= @contents %>
</textarea></td>
  </tr>
  </tbody>
</table>
