<% content_for :title, "'" + @runResult.absPath.split('/')[-1] + "' - " + @dataConfig.name + "," + @programConfig.name + " Iteration " + @iteration.iteration.to_s %>
<h3>Clustering</h3>
<table id="general" class="display">
	<thead>
		<th>Setting</th>
		<th>Value</th>
	</thead>
	<tbody>
	<tr>
		<td>Run Result</td><td><%= @runResult.uniqueRunIdentifier %></td>
	</tr>
	<tr>
		<td>Run</td><td><%= link_to @runResult.run.name, @runResult.run %></td>
	</tr>
	<tr>
		<td>Data configuration</td><td><%= link_to @dataConfig.name, @dataConfig %></td>
	</tr>
	<tr>
		<td>Program configuration</td><td><%=  link_to @programConfig.name, @programConfig %></td>
	</tr>
	<tr>
		<td>Parameter Set</td><td><%= @iteration.paramSetAsString %></td>
	</tr>
	<tr>
		<td>Iteration number</td><td><%= @iteration.iteration %></td>
	</tr>
	</tbody>
</table>

<table id="clustering" class="display">
	<thead>
		<th>Cluster ID</th>
		<th>Objects</th>
	</thead>
	<tbody>
	<% @clustering.each do |cluster| %>
	<tr>
		<td><%= cluster[0] %></td>
		<td>
			<% cluster[1].each do |cluster_object| %>
				<%= cluster_object[0] %>, 
			<% end %>
		</td>
	</tr>
	<% end %>
	</tbody>
</table>