<div style="text-align:center;">
<!-- Run results -->
<div id="node_run_results" class="admin_graph_node_outer"><div class="admin_graph_node"><%= link_to 'Run results',run_results_path %><br><br>
<!-- Runs -->
<div id="node_runs" class="admin_graph_node_outer"><div class="admin_graph_node"><%= link_to 'Runs',runs_path %><br><br>
<!-- Data configs -->
<div id="node_data_configs" class="admin_graph_node_outer"><div class="admin_graph_node"><%= link_to 'Data configurations',data_configs_path %><br><br>
<!-- Dataset configs -->
<div id="node_dataset_configs" class="admin_graph_node_outer"><div class="admin_graph_node"><%= link_to 'Dataset configurations', dataset_configs_path %><br><br>

<!-- Datasets -->
<div id="node_datasets" class="admin_graph_node_outer"><div class="admin_graph_node"><%= link_to 'Datasets',datasets_path %><br><br>

</div></div><!-- end Datasets -->
</div></div><!-- end Dataset configs -->
<!-- Goldstandard configs -->
<div class="admin_graph_node_outer"><div id="node_gs_configs" class="admin_graph_node"><%= link_to 'Goldstandard configurations', goldstandard_configs_path %><br><br>
<!-- Goldstandards -->
<div id="node_goldstandards" class="admin_graph_node_outer"><div class="admin_graph_node"><%= link_to 'Goldstandards', goldstandards_path %></div></div><!-- end Goldstandards -->
</div></div><!-- end Goldstandard configs -->
</div></div><!-- end Data configs -->
<!-- Clustering method configs -->
<div id="node_program_configs" class="admin_graph_node_outer"><div class="admin_graph_node"><%= link_to 'Clustering method configurations',program_configs_path %><br><br>
<!-- Clustering methods -->
<div id="node_programs" class="admin_graph_node_outer"><div class="admin_graph_node"><%= link_to 'Clustering method',programs_path %>
</div></div><!-- end Clustering methods -->
</div></div><!-- end Clustering method configs -->

</div></div><!-- end Runs -->

</div></div><!-- end Run results -->

</div>